<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xpb.qingcongschool">

    <uses-permission android:name="android.permission.READ_CONTACTS" /><!--需动态，联系人读取-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /><!--需动态，电话信息读取比如IMEI-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!--需动态，存储空间读写-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" /><!--需动态，接收短信-->
    <uses-permission android:name="android.permission.READ_SMS" /><!--需动态，读取短信-->
    <uses-permission android:name="android.permission.GET_TASKS" /><!--获取安卓最近任务列表，不知道干啥滴-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /><!--需动态，获取地理位置-->
    <!--以上是用于SMSSKD的，呵呵破权限这么多，乱要一气，讨厌这种东西-->

    <uses-permission android:name="android.permission.CAMERA" /><!--拍照头像-->
    <uses-permission android:name="android.permission.VIBRATE" /><!--通知震动-->

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_24dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".NetworkBaseActivity" />
        <activity android:name=".course.GetCourseActivity" />
        <activity android:name=".course.CourseInfoActivity" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->

        <activity android:name=".comment.CommentActivity" />
        <activity android:name=".comment.NewCommentActivity" />
        <activity android:name=".main.SettingActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.xpb.qingcongschool"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".course.resource.upload.UploadCourseResourceActivity" />
        <activity android:name=".course.resource.download.GetResourceListActivity" />
        <activity
            android:name=".comment.ReplyDialogActivity"
            android:theme="@style/MyDialogStyle"
            />
    </application>

</manifest>